.right {
  background-color: tomato;
  min-width: 50%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

label {
  color: #fff;
  margin-bottom: 5px;
}

.name {
  margin-bottom: 10px;
  width: 250px;
}
